{% extends "base_alt.html" %}

{% block content %}
  <style>
    table{
        margin-top: 30px;
        border: 10px solid #09495e !important;
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 10px;
      }

      th{
          color: antiquewhite;
          font-family: Menlo, monospace;
          background-color: #09495e;
          
      }
      td{
          color: antiquewhite;
      }
      tr{
          background-color: #09495e;
          font-family: Menlo, monospace;
          text-align: center;

      }
      .header{
        background-color: #1d6e14;
        
      }
      a{
        color: white;
        text-decoration: underline;

      }
      a:hover{
        text-decoration: none;
        color: white;
      }

  </style>

  <table id="data" class="table table-striped">
    <thead>
      <tr class="header">
        <th>Atlantic Conference:</th>
      </tr>
    </thead>
    <tbody>
      {% for teams in atlantic %}
        <tr>
          <td><a class="ele" href="{{ url_for('main.team_detail', team=teams) }}">{{ teams }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table id="data" class="table table-striped">
    <thead>
      <tr class="header">
        <th>Pacific Conference:</th>
      </tr>
    </thead>
    <tbody>
      {% for teams in pacific %}
        <tr>
          <td><a class="ele" href="{{ url_for('main.team_detail', team=teams) }}">{{ teams }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table id="data" class="table table-striped">
    <thead>
      <tr class="header">
        <th>Central Conference:</th>
      </tr>
    </thead>
    <tbody>
      {% for teams in central %}
        <tr>
          <td><a class="ele" href="{{ url_for('main.team_detail', team=teams) }}">{{ teams }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table id="data" class="table table-striped">
    <thead>
      <tr class="header">
        <th>Southeast Conference:</th>
      </tr>
    </thead>
    <tbody>
      {% for teams in southeast %}
        <tr>
          <td><a class="ele" href="{{ url_for('main.team_detail', team=teams) }}">{{ teams }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table id="data" class="table table-striped">
    <thead>
      <tr class="header">
        <th>Northwest Conference:</th>
      </tr>
    </thead>
    <tbody>
      {% for teams in northwest %}
        <tr>
          <td><a class="ele" href="{{ url_for('main.team_detail', team=teams) }}">{{ teams }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table id="data" class="table table-striped">
    <thead>
      <tr class="header">
        <th>Southwest Conference:</th>
      </tr>
    </thead>
    <tbody>
      {% for teams in southwest %}
        <tr>
          <td><a class="ele" href="{{ url_for('main.team_detail', team=teams) }}">{{ teams }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <!-- <script class="script">
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script> -->
{% endblock %}